<a href="https://colab.research.google.com/github/ARt2406/June_test/blob/main/Pandas_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Product': ['Apples', 'Bananas', 'Cherries', 'Dates', 'Eggplants'],
    'January': [100, 150, 200, 50, 80],
    'February': [120, 180, 160, 70, 90],
    'March': [130, 170, 180, 60, 100]
}

df = pd.DataFrame(data)
print(df)

df['Total_Sales'] = df['January'] + df['February'] + df['March']
print(df)

Total_Sales_max = df[df['Total_Sales'] == df['Total_Sales'].max()]
print(Total_Sales_max)

January_mean = df['January'].mean()
print((f'January mean {January_mean}'))
February_mean = df['February'].mean()
print((f'February mean {February_mean}'))
March_mean = df['March'].mean()
print((f'March mean {March_mean}'))

Total_Sales_sort = df.sort_values(by='Total_Sales', ascending=False)
print(Total_Sales_sort)

     Product  January  February  March
0     Apples      100       120    130
1    Bananas      150       180    170
2   Cherries      200       160    180
3      Dates       50        70     60
4  Eggplants       80        90    100
     Product  January  February  March  Total_Sales
0     Apples      100       120    130          350
1    Bananas      150       180    170          500
2   Cherries      200       160    180          540
3      Dates       50        70     60          180
4  Eggplants       80        90    100          270
    Product  January  February  March  Total_Sales
2  Cherries      200       160    180          540
January mean 116.0
February mean 124.0
March mean 128.0
     Product  January  February  March  Total_Sales
2   Cherries      200       160    180          540
1    Bananas      150       180    170          500
0     Apples      100       120    130          350
4  Eggplants       80        90    100          270
3      Dates       50        70     60          180