<a href="https://colab.research.google.com/github/ARt2406/June_test/blob/main/Pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 45, 35, 40, 28],
    'Department': ['HR', 'Finance', 'IT', 'IT', 'HR'],
    'Salary': [50000, 80000, 60000, 70000, 55000]
}

df = pd.DataFrame(data)
print(df)

it_sector = df[df['Department'] == 'IT']
print(it_sector)

max_salary = df[df['Salary'] == df['Salary'].max()]
print(max_salary)

avf_salary = df.groupby('Department')['Salary'].mean()
print(avf_salary)

      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   45    Finance   80000
2  Charlie   35         IT   60000
3    David   40         IT   70000
4      Eva   28         HR   55000
      Name  Age Department  Salary
2  Charlie   35         IT   60000
3    David   40         IT   70000
  Name  Age Department  Salary
1  Bob   45    Finance   80000
Department
Finance    80000.0
HR         52500.0
IT         65000.0
Name: Salary, dtype: float64