<a href="https://colab.research.google.com/github/ARt2406/June_test/blob/main/Pandas_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

data = {
    'Product': ['Apples', 'Bananas', 'Cherries', 'Dates', 'Eggplants'],
    'Category': ['Fruit', 'Fruit', 'Fruit', 'Dry Fruit', 'Vegetable'],
    'Day_1_Sales': [100, 150, 200, 50, 80],
    'Day_2_Sales': [120, 180, 160, 70, 90],
    'Day_3_Sales': [130, 170, 180, 60, 100],
    'Discount': [0.05, 0.10, 0.05, 0.0, 0.15]
}

#Создать DataFrame из этого словаря.
df = pd.DataFrame(data)
print(df)

#Добавить новый столбец Total_Sales, который будет содержать общие продажи за три дня.
df['Total_Sales'] = df['Day_1_Sales'] + df['Day_2_Sales'] + df['Day_3_Sales']
print(df)

#Добавить новый столбец Discounted_Total, который будет учитывать скидку для каждого продукта
df['Discounted_Total'] = df['Total_Sales'] * (1 - df['Discount'])

#Найти категорию продуктов с наибольшими общими продажами за три дня.
Total_Sales_max = df[df['Total_Sales'] == df['Total_Sales'].max()]
print(Total_Sales_max)

#Найти среднюю сумму продаж с учетом скидки для каждой категории.
means_category = df.groupby('Category')['Total_Sales'].mean()
print(means_category)

#Отсортировать таблицу по столбцу Discounted_Total в порядке убывания и вывести отсортированную таблицу.
Discounted_Total_sort = df.sort_values(by='Discounted_Total', ascending=False)
print(Discounted_Total_sort)

     Product   Category  Day_1_Sales  Day_2_Sales  Day_3_Sales  Discount
0     Apples      Fruit          100          120          130      0.05
1    Bananas      Fruit          150          180          170      0.10
2   Cherries      Fruit          200          160          180      0.05
3      Dates  Dry Fruit           50           70           60      0.00
4  Eggplants  Vegetable           80           90          100      0.15
     Product   Category  Day_1_Sales  Day_2_Sales  Day_3_Sales  Discount  \
0     Apples      Fruit          100          120          130      0.05
1    Bananas      Fruit          150          180          170      0.10
2   Cherries      Fruit          200          160          180      0.05
3      Dates  Dry Fruit           50           70           60      0.00
4  Eggplants  Vegetable           80           90          100      0.15

   Total_Sales
0          350
1          500
2          540
3          180
4          270
    Product Category  Day_1_Sales  Day_2_Sales  Day_3_Sales  Discount  \
2  Cherries    Fruit          200          160          180      0.05

   Total_Sales  Discounted_Total
2          540             513.0
Category
Dry Fruit    180.000000
Fruit        463.333333
Vegetable    270.000000
Name: Total_Sales, dtype: float64
     Product   Category  Day_1_Sales  Day_2_Sales  Day_3_Sales  Discount  \
2   Cherries      Fruit          200          160          180      0.05
1    Bananas      Fruit          150          180          170      0.10
0     Apples      Fruit          100          120          130      0.05
4  Eggplants  Vegetable           80           90          100      0.15
3      Dates  Dry Fruit           50           70           60      0.00

   Total_Sales  Discounted_Total
2          540             513.0
1          500             450.0
0          350             332.5
4          270             229.5
3          180             180.0